@import 'fonts.scss';
@import 'reset.scss';

@import 'main.scss';
@import 'calculator-page.scss';
@import 'video-page.scss';
@import 'about.scss';
@import 'loan.scss';
@import 'terms.scss';
@import 'blog.scss';
@import 'article.scss';
@import 'might-like.scss';
@import 'quiz.scss';
@import 'catalog.scss';
@import 'car.scss';

@import 'search.scss';
@import 'calculator.scss';
@import 'interesting.scss';
@import 'footer.scss';

html {
    overflow-x: hidden;
    min-width: 0;

}

html._lock {
    overflow-y: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    min-width: 0;
}

body._lock {
    overflow-y: hidden;
}

#root {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    min-width: 0;
}

.height {
    height: 10000px;
}




.page-404 {
    margin: 261px 0 0 0;
    width: fit-content;
    display: flex;
    flex-direction: column;

    &__img {
        width: 88.845px;
        height: 29.622px;
    }

    &__title {
        margin: 20px 0 0 0;
        color: var(--primary-content, #41456B);
        font-family: Gilroy-700;
        font-size: 45px;
        line-height: 140.5%;
    }

    &__text {
        margin: 5px 0 0 0;
        color: var(--secondary-text, #606276);
        text-align: center;
        font-family: Gilroy-400;
        font-size: 16px;
        line-height: 180%;
        letter-spacing: 0.32px;
    }

    &__button {
        margin: 40px 0 0 0;
        width: 165px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--primary-accent, #7481FF);
        color: var(--leght-grey, #FFF);
        text-align: center;
        font-family: Gilroy-700;
        font-size: 16px;
        line-height: 14.364px;
        letter-spacing: 0.32px;
        text-transform: uppercase;
    }
}


@media (max-width: 1200px) {
    .page-404 {
        margin: 210px 0 0 0 ;
        width: fit-content;
        display: flex;
        flex-direction: column;

        &__img {
            width: 88.845px;
            height: 29.622px;
        }

        &__title {
            margin: 20px 0 0 0;
            color: var(--primary-content, #41456B);
            font-family: Gilroy-700;
            font-size: 30px;
            line-height: 140.5%;
        }

        &__text {
            margin: 5px 0 0 0;
            color: var(--secondary-text, #606276);
            text-align: center;
            font-family: Gilroy-400;
            font-size: 16px;
            line-height: 180%;
            letter-spacing: 0.32px;
            max-width: 181px;
        }

        &__button {
            margin: 40px 0 0 0;
            width: 130px;
            height: 35px;
            flex-shrink: 0;
            border-radius: 2px;
            background: var(--primary-accent, #7481FF);
            color: var(--leght-grey, #FFF);
            text-align: center;
            font-family: Gilroy-700;
            font-size: 14px;
            line-height: 14.364px;
            letter-spacing: 0.32px;
            text-transform: uppercase;
        }
    }
}